---
title: "Artwork"
posttitle: "Artwork Title"
image: ""
comment: "..."
categories: []
tags: artwork
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="{{ excerpt }}>
  <meta name="keywords" content="Laboratory, Neocities, Web Revival, Personal Homepage">
  <meta name="author" content="Lyonid">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>aql: {{ title }} ~ {{ posttitle }}</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
  <link href="/css/comment-widget.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div class="wrapper">
    <main class="post">
      <section>

      <a href="/atelier"><span>Back to Entrance</span></a>
      <h1 title="{{ posttitle }}">{{ posttitle }}</h1>
      <img src="/images/artwork/{{ image }}"><br>
      <p><b>[in:]</b> {% for category in categories %}</a><span class="category">{{ category }}</span>{% endfor %}</p>
      <p class="atelier-description">{{ description }}</p>
      <p>{{ date }}</p>
      <p><b>[info:]</b> {{ comment }}</p>
      {% set previousPost = collections.artwork | getPreviousCollectionItem %}
      {% set nextPost = collections.artwork | getNextCollectionItem %}
      {% if previousPost %} <a href="{{ previousPost.url }}"><-- previous</a>{% endif %}
      {% if nextPost %} ~ <a href="{{ nextPost.url }}">next --> </a>{% endif %}<br><br>

      <a href="/atelier"><span>Back to Entrance</span></a>
      </section>
    </main>

    <aside>
      <div id="c_widget"></div>
      <script src="/js/comment-widget.js"></script>
    </aside>
    {% include 'footer.njk' %}
  </div>
</body>
</html>