---
layout: simple-base.njk
---

{% block nav %}
  <a href="/atelier"><span>Back to Entrance</span></a>
{% endblock %}

{% block main_content %}
  <img src="/images/artwork/{{ image }}" alt="{{ posttitle }}"><br>
  <p><b>[in:]</b>
    {% for category in categories %}
      <span class="category">{{ category }}</span>
    {% endfor %}
  </p>
  <p class="atelier-description">{{ description }}</p>
  <p>{{ date }}</p>
  <p><b>[info:]</b> {{ comment }}</p>

  {% set previousPost = collections.artwork | getPreviousCollectionItem %}
  {% set nextPost = collections.artwork | getNextCollectionItem %}
  {% if previousPost %}
    <a href="{{ previousPost.url }}"><-- previous</a>
  {% endif %}
  {% if nextPost %}
    ~ <a href="{{ nextPost.url }}">next --&gt;</a>
  {% endif %}
  <br><br>

  <a href="/atelier"><span>Back to Entrance</span></a>
{% endblock %}
