<footer>
  <span>© un.artur, 2025 and beyond!</span>
  <span>
    <a target="__blank" href="https://blasius.club/@maus">Mastodon</a> ~ <a target="__blank" href="https://neocities.org/site/unartur">Neocities</a> ~ <a target="__blank" href="https://github.com/arduqq">GitHub</a>
  </span>
</footer>
