<nav class="main">
  <a class="entrance route" href="/home/"><span>Entrance [Home]</span></a>
  <a class="atelier route" href="/atelier/"><span>Atelier [Art]</span></a>
  <a class="reads route" href="/archive/"><span>Archive [Blog]</span></a>
  <a class="journey route" href="/journey/"><span>Broadcast [Journey]</span></a>
  <a class="pets route" href="/pets/"><span>Fauna [Pets]</span></a>
  <a class="storage route" href="/storage/"><span>Storage [Resources]</span></a>
  <a class="contact route" href="/contacts/"><span>Cafeteria [Contacts]</span></a>
  <a class="qeycard route" href="/qeycard/"><span>Your ID [Qeycards]</span></a>
</nav>