<nav class="main">
  <a id="nav-entrance"  class="entrance route"   href="/home/"><span class="building">Entrance</span></a>
  <a id="nav-atelier"   class="atelier route"    href="/atelier/"><span class="building">Atelier</span></a>
  <a id="nav-reads"     class="reads route"      href="/archive/"><span class="building">Archive</span></a>
  <a id="nav-journey"   class="journey route"    href="/journey/"><span class="building">Radio</span></a>
  <a id="nav-pets"      class="pets route"       href="/pets/"><span class="building">Pets</span></a>
  <a id="nav-storage"   class="storage route"    href="/storage/"><span class="building">Storage</span></a>
  <a id="nav-contact"   class="contact route"    href="/contacts/"><span class="building">Cafeteria</span></a>
  <a id="nav-qeycard"   class="qeycard route"    href="/qeycard/"><span class="building">Qeycards</span></a>
  <a id="nav-microgames"class="microgames route" href="/microgame/"><span class="building">Microgames</span></a>
</nav>