---
layout: simple-base.njk
---

{% block nav %}
  <a href="/archive/"><span>Back to the Archive</span></a>
{% endblock %}

{% block main_content %}
  {{ content | safe }}

  <a href="/archive/"><span>Back to the Archive</span></a>
{% endblock %}
