<aside>
  <h1 class="mutant">A Quaint Lab</h1>
  <div class="site-logo" role="img"><a href="https://www.imood.com/users/Lyonid"><img src="https://moods.imood.com/display/uname-Lyonid/imood.gif" alt="The current mood of Lyonid at www.imood.com" border="0"></a></div>
  
  {% include 'appearance-switcher.njk' %}

  <section id="about">
<img class="alive nervous" style="float:left" src="/images/snail.png"><p>This is a laboratory. Please behave, and solely touch what is to be touched.</p></section>
  <h2>Navigation</h2>
  {% include 'navigation.njk' %}
  {# Categories moved to reads.njk and atelier.njk per layout decision #}

  <h2 title="Sound"s>Sound</h2>
  <audio controls loop>
    <source src="/sounds/home.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <h2 title="Webrings">Webrings</h2>

</iframe><object title="Melonland Surf Club Webring Integration" id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#129e8d" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
  <h2 title="Some Artwork">Some Artwork</h2>
  {% set randomArt = collections.artwork | random %}
  {% set recentArt = collections.artwork | first %}
  <section class="art-preview">
    <a href="{{ recentArt.url }}">
      <img src="/images/artwork/thumbnails/{{ recentArt.data.image }}">
      <b>{{ recentArt.data.posttitle }}</b>
    </a>
    <a href="{{ randomArt.url }}">
      <img src="/images/artwork/thumbnails/{{ randomArt.data.image }}"> 
      <b>{{ randomArt.data.posttitle }}</b>
    </a>
    <a class="art-preview-more" href="/atelier">See more ></a>

  </section>
    <h2>Contact</h2>
  <section class="contact">
    <p><b>Neocities:</b> <a target="__blank" href="https://neocities.org/site/unartur">un.artur</a></p>
    <p><b>Discord:</b> un.artur</p>
    <p>
      <b>Mail:</b>
      <a href="mailto:lyonid@protonmail.com?subject=[{{title}}]"
        >lyonid [at] protonmail [dot] com</a
      >
    </p>
      <img alt="Button with a zombie standing in front of a cobblestone wall" src="/images/pages/contacts/ql-button-1.gif" />
      <img alt="Button saying Quaint Lab" src="/images/pages/contacts/ql-button-2.gif" />
      <img alt="Button saying Quaint Laboratorium" src="/images/pages/contacts/ql-button-3.png" />
  </section>
</aside>
