<!DOCTYPE html>
<html lang="en" data-theme="contrast">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ excerpt | default('') }}">
  <meta name="keywords" content="Laboratory, Neocities, Web Revival, Personal Homepage" />
  <meta name="author" content="Lyonid" />
  <title>aql: {{ title }}{% if posttitle %} ~ {{ posttitle }}{% endif %}</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/accessibility.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div class="wrapper">
    <main class="post">
      <section>
        {% block nav %}{% endblock %}
        {# Render breadcrumbs (will infer Atelier vs Archive when possible) #}
        {% include "breadcrumbs.njk" %}
        <h1 title="{{ posttitle }}">{{ posttitle }}</h1>
        {% block main_content %}
          {{ content | safe }}
        {% endblock %}
      </section>
    </main>

    <aside>
      {% include 'appearance-switcher.njk' %}

      <section>
        <h3>Thoughts? I wanna put them here!</h3>
        <p>Write me: <a href="mailto:lyonid@protonmail.com?subject=[{{posttitle}}]"
          > lyonid [at] protonmail [dot] com</a></p>
      </section>
    </aside>

  </div>

  <script src="/js/tooltip.js"></script>
