---
title: "A Quaint Laboratorium"
---
<!DOCTYPE html>
<html>
  <html lang="en">
    <meta name="description" content="After a long hike across those mountains that your village deemed forsaken, you arrive at quite the unusual sight. Traces of a long-forgotten facility would leave you questioning whether things could have been different - intact.">
    <meta name="keywords" content="Laboratory, Neocities, Web Revival, Personal Homepage">
    <meta name="author" content="Lyonid">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"> 
    
  </head>
  <body class="splash">
    <div class="splash-wrapper">
      <h1 class="splash-header">{ title }</h1>
      {{ content | safe}}
      </a>
    </div>
  </body>
</html>
