---
title: "Atelier"
layout: base.njk
permalink: "atelier/"
---
<section>
  <h2>{{ title }}</h2>
  <p>This is the place where I collect all the artwork I have been putting out there. Instead of throwing everything at you, we are doing exhibitions over here at the atelier. That helps me organize my work, but also give it more context, so you aren't just looking at stuff.</p>
</section>

<section class="exhibitions">
  <h2>Current Exhibitions</h2>
    {% for exhibition in collections.exhibitions %}
      <a href="{{ exhibition.url }}"><img src="/images/{{ exhibition.data.poster }}" alt="{{ exhibition.data.posttitle }}"> </a>
    {% endfor %}
</section>

<section class="feed">
  <h2>Recent Exhibition Inventory</h2>
  <div class="illustration-gallery">
  {% for illustration in collections.artwork %}
  {% if loop.index0 < 12 %}
    <a class="illustration" href="{{ illustration.url }}">
      <img src="/images/artwork/thumbnails/{{ illustration.data.image }}" alt="{{ illustration.data.posttitle }}"> 
    </a>
    {% endif %}  
  {% endfor %}
  </div>
</section>
<style>
  .exhibitions img {
    transform-origin: top center;
    transition: .2s;
    display: block;
  }
  .exhibitions a:hover img{
    transform: rotate(-5deg);
  }
</style>