---
title: 'Contacts'
layout: base.njk
permalink: "contacts/"
---
  <section class="buttons">
        <h2>Buttons from places I love</h2>
        {% for neighbor in neighbors %}
        <a target="_blank" href="{{ neighbor.url }}"><img src="/images/pages/contacts/{{ neighbor.button }}"></a>
        {% endfor %}

      </section>
      <section class="buttons">
        <h2>My buttons</h2>
        <img src="/images/pages/contacts/ql-button-1.gif">
        <img src="/images/pages/contacts/ql-button-2.gif">
        <img src="/images/pages/contacts/ql-button-3.png">
        <p>Please take them with you. Reach out, so I can put you on here as well, so we don't lose each other</p>
      </section>
