---
title: "Game Exploration Kit"
layout: base.njk
permalink: "games/"
---

<section>
  <h2>{{ title }} <a href="/feed-games.xml" target="_blank" style="font-size: 0.8rem; vertical-align: middle;">[RSS Feed]</a></h2>
  <p class="tagline">These are games I've been playing lately, and what I think of them. A collection of mini-reviews and thoughts on interactive media.</p>
</section>

<link rel="stylesheet" href="/css/games.css">

<section class="games-landing">
  <div class="games-grid">
    {% for p in collections.games %}
      <a class="game-card" href="{{ p.url }}" data-tooltip="{{ p.data.posttitle }}">
        <div class="cartridge">
          <img src="{{ p.data.image }}" alt="{{ p.data.posttitle }} thumbnail">
        </div>
        <div class="game-meta">
          <h3>{{ p.data.posttitle }}</h3>
          <p class="short">{{ p.data.excerpt }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
