---
title: "Home"
layout: base.njk
permalink: "home/"
---

<section class="me">
    <h2>Heeee-llo.</h2>
    <p>
      
      <img class="alive eerie" style="float: left" src="/images/snake.png">I am Artur and I go by they/them and er/ihn. I believe that everyone needs digital real estate, and this is mine. It's a laboratory because I keep tinkering with it when I am here, and it's where lots of my thoughts are cultivated. I am an artist and researcher by day and ... by night lol.
    </p>
  <div class="status">
    <h3 title="Status">Status</h3>
    <div id="statuscafe">
      <div id="statuscafe-username"></div>
      <div id="statuscafe-content"></div>
    </div>
    <script
      src="https://status.cafe/current-status.js?name=lyonid"
      defer
    ></script>
  </div>
</section>

<section class="feed">
  <h2>Latest Post</h2>
  {% set latest_post = collections.post | last %} {% if latest_post %}
  <a class="post" href="{{ latest_post.url }}">
    <div class="post-info">
      <h3>{{ latest_post.data.date }} ~ {{ latest_post.data.posttitle }}</h3>
      <p>{{ latest_post.data.excerpt }}</p>
    </div>
  </a>
  {% endif %}
</section>

<section id="hoard">
  <h2>Hoard</h2>
  <h3>Game Exploration Kit</h3>
  <div class="game-shelf">
    {% for game in games %}
    <div class="game" onclick="showDescription('desc{{ loop.index }}')">
      <img src="{{ game.image }}" alt="{{ game.title }}" />
    </div>
    {% endfor %}
  </div>
  {% for game in games %}
  <div id="desc{{ loop.index }}" class="game-description">
    <strong>{{ game.title }}:</strong> {{ game.description }}
    {% if game.review %}
    <a href="{{ game.review }}" target="_blank">Read Review</a>
    {% endif %}
  </div>
  {% endfor %}

  <script>
    function showDescription(id) {
      document
        .querySelectorAll(".game-description")
        .forEach((desc) => (desc.style.display = "none"));
      document.getElementById(id).style.display = "block";
    }
  </script>
  