---
title: 'Journey Recordings'
layout: base.njk
permalink: "journey/"
---
<section id="tldr">
  <h3>TL;DR Virtual Pet Sites</h3>
  <p>You don't have the time to read all my blabla down there, and writing is hard for me to stick to. I decided to have a quick summary about all the pet sites I went to, and to what degree I recommend them to people. I am grading all the pet sites I delved into, and gave them a highly subjective grade. To me, a pet site suits me most when it promotes/enables creativity, shows a decent creative vision has a rich understanding of accessibility, features genuine art-work, and nurtures a healthy community. Aspects of longevity, frequent content updates, graphic polish or overall popularity are less interesting here. We are going for something more empirical in the future, though. All of this is messy, and I believe that's how it should be!</p>
  <p>
    <i>Updated: May 17th 2025</i>
  </p>
  <table class="sortable">
    <thead>
        <tr>
            <th>Grade</th>
            <th>Pet Site</th>
            <th>Notes</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://subeta.net">Subeta</a></td>
            <td>As of recent, the developer has been more keen on improving the site and making it future-proof. Still a bit of a mess to navigate with minor gacha elements. Usability problems are solved through a subscription paywall.</td>
            <td>neolike, human avatars, ancient, rusty, player visuals</td>
        </tr>
        <tr>
            <td>D</td>
            <td><a target="__blank" href="https://www.neopets.com">Neopets</a></td>
            <td>I was rather hopeful for some time, but the game remains to be utter chaos. I wouldn&#39;t want to see new people join at this point.</td>
            <td>neolike, ancient, rusty, modern</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://flightrising.com">FlightRising</a></td>
            <td>It&#39;s the biggest one, it looks great, and is probably the most serviceable of them all. The community feels a bit odd, and there&#39;s a lot of history to catch up on.</td>
            <td>breeding, customization, player visuals</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="https://www.lioden.com">Lioden</a></td>
            <td>It is a grindfest with very off-putting themes in their monthly event cycle. Very time-intensive, but full of content and visuals to explore. Definitely harder to understand, but surely a blast for the ones who commit to it.</td>
            <td>breeding, ancient, customization, player visuals</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://www.wolvden.com">Wolvden</a></td>
            <td>Definitely the better compared to Lioden with a stronger focus on survival aspects. More cohesive direction in art and mechanics, and an updated framework make it more enjoyable to me. Definitely less sparkly.</td>
            <td>breeding, customization, modern, player visuals</td>
        </tr>
        <tr>
            <td>D</td>
            <td><a target="__blank" href="https://www.lorwolf.com">Lorwolf</a></td>
            <td>Absolute grindfest, weird communication from staff, frustrating mechanics, and an economy that is not fun to get into. Breeding does not feel fulfilling, but it may appeal to someone who like to do some roleplay with their pack.</td>
            <td>breeding, modern, player visuals</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://www.4dopt.com/">4dopt</a></td>
            <td>Intriguing concept with an economy solely based on the artwork produced by the community. Strong focus on player contribution and self-imposed goals. The interfact is a bit hard to navigate at times and could use a bit of a fresh coat to support the amazing work players are putting in.</td>
            <td>player visuals, rusty, modern</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="https://pokefarm.com/">PokéFarm Q</a></td>
            <td>Very strong and intricate spin on egg hatchers, and full of unique mechanics. The head of the operation is genuinely not a good person to be around, so you should stay away from the forums and the Discord. It features some heavy microtransactions that make up for the obtuse chances to hatch special Pokémon. The player interface is unique, but only enjoyable when it&#39;s customized and user-scripted.</td>
            <td>clicking, breeding, modern, rusty</td>
        </tr>
        <tr>
            <td>A</td>
            <td><a target="__blank" href="https://finaloutpost.net">The Final Outpost</a></td>
            <td>Very standard egg hatcher with a very strong narrative, beautiful pixel sprites, and cute events. Nothing that would captivate one for days and hours, but a delightful experience for short moments.</td>
            <td>clicking, modern</td>
        </tr>
        <tr>
            <td>A</td>
            <td><a target="__blank" href="https://www.pixelcatsend.com">Pixel Cat&#39;s End</a></td>
            <td>Stunningly cute visuals, very fun concepts, and great whimsy in this one. It can get a bit overwhelming in its progression, but it is hard to find anything I don&#39;t like about this game. The developer seems very dedicated, and I am sure that this can be a delightful space to get lost in.</td>
            <td>breeding, modern</td>
        </tr>
        <tr>
            <td>D</td>
            <td><a target="__blank" href="https://dappervolk.com">Dappervolk</a></td>
            <td>A tragedy of a kickstarter. Probably the biggest of grindfest with an infuriating focus on gacha systems fueled by microtransactions. The art is very beautiful, but I don&#39;t think that it is worth investing in at this point. Definitely worth a marvel at some of the artwork, though. It could be a fun dress-up, but this is not why we are here.</td>
            <td>human avatars, modern, player visuals, clicking</td>
        </tr>
        <tr>
            <td>D</td>
            <td><a target="__blank" href="https://www.exabyss.com/">Exabyss</a></td>
            <td>Strong combat focus on a player grid. As a Fire Emblem fan I was hooked, and played through the campaign. Definitely has everything going for it, but it unfortunately is abandoned. Very cool graphics, super fun pets, and just so much work went into this. I hope to see it thrive under different leadership and a dedicated community.</td>
            <td>human avatars, modern</td>
        </tr>
        <tr>
            <td>A</td>
            <td><a target="__blank" href="https://poppyseedpets.com/">Poppy Seed Pets</a></td>
            <td>Absolute joy, and it even has gone open-source! It may become a bit stale after some time, but games are not supposed to leave you addicted.</td>
            <td>modern</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://runetails.com">RuneTails</a></td>
            <td>Really strong foundation for a very cool game. The devs seem dedicated and the art is very beautiful to look at. Some mechanics need fine-tuning, and I found myself closing the game because of weird loading problems, or just usability problems. I really hope to see it thrive.</td>
            <td>neolike, modern, customization</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://leviathan-myth.com">Leviathan Myth</a></td>
            <td>Very cool spin on what a pet site with dragons could be. It reminds me a lot of Dragosien which used to be a weird german dragon hatching game. Strong battle focus with some very charming artwork. It lost me a bit as I got stomped in the arena, but I am sure it&#39;s a place worth investing your time in. The community felt very welcoming.</td>
            <td>breeding, modern</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://www.moderneopets.com">Moderneopets</a></td>
            <td>This used to be my absolute favorite. I still adore it, but it has been mostly dormant after some very petty accusations and overwhelming workload for the main developer. Until he is able to work out the direction of the game, the game will remain mostly quiet, which I think is incredibly reasonable. Still, the mechanics features are fun, and emphasize the player creativity that Neopets once treasured. The artwork of the pets is amazing to me.</td>
            <td>neolike, modern, customization</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="https://www.grundos.cafe/">Grundo&#39;s Café</a></td>
            <td>This one could not capture me at all. The amount of minigames is there, the &quot;stuff&quot; to do is plentiful. The community feels incredibly Neopets, the customization did not feel fulfilling, and I would argue that it is quite the grindfest. I think the devs are very dedicated, and the community is thriving. It&#39;s like a coat of fresh nostalgia paint on what Neopets would have looked like if it started out now.</td>
            <td>neolike, modern, customization</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://icepets.com">IcePets</a></td>
            <td>The team decided to give the game a new look, and I think there is definitely something there. It&#39;s surprisingly old, and many systems seem like they need a bit of direction away from their Neopets inspiration. Another one of those sites that I REALLY want to be succeeding.</td>
            <td>neolike, modern, ancient</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="https://ovipets.com">OviPets</a></td>
            <td>Very odd, but it captures the Zeitgeist of the post-MySpace era. It wasn&#39;t much fun to play, but most systems are inherently social. I was confused a lot, but the pets look pretty cool. Oddly enough, it feels like Sylestia, but what if it&#39;s also Facebook. Do with that what you want, lol.</td>
            <td>ancient, clicking, breeding</td>
        </tr>
        <tr>
            <td>F</td>
            <td><a target="__blank" href="https://www.santae.net">Santae</a></td>
            <td>I would not advise to play this game. The leadership is probably some of the worst I have ever experienced in their mistreatment of staff, use of GenAI and overall tone. It is a massive grindfest with some stunningly beautiful artwork that lacks any proper direction. We can do better, and this Kickstarter is not it.</td>
            <td>neolike, modern, customization, human avatar</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="">Sylestia</a></td>
            <td>I think this is such an odd-one-out. Lots of odd systems, and RPG mode, a whole lot of participatory events, and it&#39;s wrapped in the weirdest UI I have seen. All of this makes me really love the place, but it did feel very convoluted at times. However, I find the pets a lot of fun to actually breed and collect, but I wish it had a different pace to it. More time for players to really understand the ins and outs of what the game really wants you to do. Definitely something to look into.</td>
            <td>ancient, breeding, clicking, human avatars</td>
        </tr>
        <tr>
            <td>C</td>
            <td><a target="__blank" href="https://leayph.com">Leayph</a></td>
            <td>There was a time where everyone did their own pet site, and this one still exists! Very beautiful artwork, and a small amount of people still giving the space the love it needs. If you&#39;re into the jank of it, it&#39;s a blast. Definitely very simple to get through, but it does require a certain amount of self-imposed goals to really thrive on here.</td>
            <td>ancient, breeding, human avatars</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://snoozelings.com">Snoozelings</a></td>
            <td>Very adorable early build of a wholesome spin on virtual pet sites. It doesn&#39;t have too much depth, but I think the breeding is sound, the journal feature interesting, and generally this is an absolute passion project of someone who cares for the genre.</td>
            <td>breeding, modern</td>
        </tr>
        <tr>
            <td>B</td>
            <td><a target="__blank" href="https://gpx.plus">Global PokéDex Plus</a></td>
            <td>Very cool-looking site with some weird mechanics. Overall the better alternative to a feature-heavy PFQ, but it does lack some proper documentation on features and guides. Community seemed very sweet, though, and their forums are internet archeology GOLD.</td>
            <td>ancient, clicking, breeding</td>
        </tr>
    </tbody>
</table>
<link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable-base.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/dist/sortable.min.js"></script>

<table>
  <tbody>
    <tr>
      <th>Tag</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><b>neolike</b></td>
      <td>Features common neopet-isms like a restocking market, pet care, item collection/trading, a battle system, and overall customization of pet pages.</td>
    </tr>
    <tr>
      <td><b>player visuals</td>
      <td>
        Features a player-submitted artwork system for custom items, apparel, etc.</td>
    </tr>
    <tr>
      <td><b>modern</b> </td>
      <td>Player interface has a state-of-the-art feel to it.</td>
    </tr>
    <tr>
      <td><b>clicking</b></td>
      <td>Clicking another player's eggs/pets as a central mechanic.</td>
    </tr>
    <tr>
      <td><b>breeding</b></td>
      <td>Breeding offspring as a central mechanic.</td>
    </tr>
    <tr>
      <td><b>rusty</b> </td>
      <td>Doesn't make up for its age through appropriate technologies or does it rather badly.</td>
    </tr>
    <tr>
      <td><b>ancient</b></td>
      <td>Kinda damn old.</td>
    </tr>
    <tr>
      <td><b>customization</b> </td>
      <td>Features meaningful customization features such as pet pages, interesting BBCode flavors, or other ways to express yourself.</td>
    </tr>
    <tr>
      <td><b>human avatars</b></td>
      <td>Features a dress-up mode.</td>
    </tr>
  </tbody>
</table>
</section>
<section style="background: url(/images/pages/pets/mushrooms.png)">
  <article id="subeta" class="site-card">
    <h3>Subeta: Things manifesting in creature</h3>
    <a href="https://subeta.net">Visit Subeta</a>
    <a href="https://unartur.neocities.org/reads/codefile/subeta/">Read the code files on Subeta</a>
    <a href="https://subeta.net/users/Lyonid">Visit my Subeta profile</a>
    <p>Subeta has been my first real shot at pet sites. I was enthralled by all the amazing assets and creature
      designs, as well as a promising community that I feel could have turned into an amazing space for artists to
      express themselves. For my running theme I went for imaginary creatures that would represent some kind of
      materialization. How could I translate the design of a pet into a concept that I find interesting. How can
      we
      manifest emotions into matter and how far can we push a dated layout to look as fun as possible? I also
      created tribute pets for video game characters that I always loved and have them another twist. Here some
      profiles I feel fond of!</p>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <h4>Vibes-Meter</h4>
      <div class="scale">
        <div class="pointer uncertain" style="margin-left: calc(40% - 30px)">
        </div>
        <span>40% [Lovable Mess]</span>
      </div>
      <p>
        <img src="https://i.imgur.com/o7SPqcy.png">
        <img src="https://img.subeta.net/pets/urubu_riftborn.png">
        <img src="https://img.subeta.net/pets/lain_nostalgic.png">
      </p>
    </div>
    <div class="review">
      For a place that used to be THE haven for people sick of Neopets, Subeta remains to be a great place to seek
      shelter. Fun minigames, an obscene amount of very cohesive and interesting pets and a clothing market with
      steady additions brings joy to my heart every time I log on. Unfortunately, the love for the project seems
      to
      have dwindled over the past few years with a small and sturdy community manning the empty forums. The few
      helpful people who will send you gifts and love kept me going for quite some time until the lack of a
      roadmap,
      buggy infrastructure and the hope for a v e r y distant rewriting of the site gave me a severe feeling of
      emptiness. The site lacks in a main thread mechanically. Creating and caring for your pet feels unfinished
      and
      the money-making Human Avatar system is just not what makes a pet site for me. Still, the amount of
      incredible
      art work on the site keeps me checking in to this day, and leaves me hoping for a complete overhaul using
      all
      those assets. I imagine the artists to make an incredible job when the site finally moves past ugly
      bootstrap
      layouts to bring their ideas to life. The site suffers from content bloat and will most-likely overwhelm any
      new completionist. If you are looking for a place to collect funny jpgs without much thinking, this is
      definitely a place for you - if you can look past the pricey pet slots. Many items are very hard to get by.
      A
      constant stream of items which barely anyone can get use of underlines the lack of thought that was put into
      designing the overall gameplay loop. The high Gacha rating comes from the terrible terrible terrible CSC
      vending machines that will use the premium currency for a chance to get themed items. They are well-hidden
      and
      the items are affordable for on-site currency, yet a recent addition of a $1000+ lootbox made me feel like
      there is more to come.
    </div>
  </article>
</section>
<section style="background: url(/images/pages/pets/mushrooms.png)">
  <article id="fr" class="site-card">
    <h3>FlightRising: Big dragons and how to breed them</h3>
    <a href="https://www1.flightrising.com/">Visit FlightRising</a>
    <a href="https://www1.flightrising.com/lair/586490">Visit my FR Lair</a>
    <p>I couldn't get past the fact that breeding dragons would be a feature people would feel most-drawn to in the VPS
      space. FlightRising (FR) remains to be the most successful pet site to this day and despite the very 2015-esque
      aesthetic, I definitely understand where it all comes from. I love clicking my way through fresh hatches and
      crafting lineages for that one pretty offspring. I personally never went all-out on bigger breeding projects, but
      researching rarities and speculating outcomes definitely helped me get past some creative hurdles. I never got
      into the community aspect, yet the amount of work players put into their lairs is astounding and inspiring.
      <br><br>
      Where this site shines to me is the standard they provide to the breeding-based pet site market without biting off
      more than they could chew. There is a great sense of control over what you really want out of a breeding pair, and
      with the tremendous quality of the artwork, it's always a joy to hatch a fresh batch of eggs. The pace of new
      content is steady, reliable and communication is usually very earnest and clear. The large team managed to pull
      off something marketable, beautiful and unique, yet I fail to outline <em>the edge</em> - something that makes me
      invested in the world, the community and how I can help to shape this place.</p>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(90% - 30px)"></div>
        <span>90% [Polished and Pretty]</span>
      </div>
      <p>
        <img src="https://www1.flightrising.com/rendern/350/854372/85437144_350.png?mtime=ZZIMjt9kt5A">
        <img src="https://www1.flightrising.com/rendern/350/957911/95791099_350.png?mtime=ZZnl38zCTsQ">
        <img src="https://www1.flightrising.com/rendern/350/858551/85855038_350.png?mtime=ZZIH-uqOvLA">
        <img src="https://www1.flightrising.com/rendern/350/740380/74037923_350.png?mtime=ZY1qus49NOw">
        <img src="https://www1.flightrising.com/rendern/350/726604/72660357_350.png?mtime=ZZGyRjji5EA">
        <img src="https://www1.flightrising.com/rendern/350/813723/81372253_350.png?mtime=ZY1qoaxfmKA">
        <img src="https://www1.flightrising.com/rendern/350/775926/77592553_350.png?mtime=ZZIIaqVX0xg">
      </p>
    </div>
    <div class="review">
    </div>
  </article>
</section>
<section id="etc" class="site-notes" style="background: url(/images/pages/pets/mushrooms.png)">
  <article>
    <h3>Poppyseed Pets</h3>
    <a target="__blank" href="https://poppyseedpets.com">Visit Poppyseed Pets</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(100% - 30px)"></div>
        <span>100% [Perfectly Odd]</span>
      </div>
    </div>
    <p>
      Genuinely innovative spin on a VPS with unique mechanics. BenMakesGames is a very dedicated soul who, in my
      opinion, needs way more support for this project. The creative ways one can interact with their pets is goofy,
      weird and always puts a smile on my face.
    </p>
  </article>

  <article>
    <h3>Lioden</h3>
    <a target="__blank" href="https://www.lioden.com/">Visit Lioden</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(50% - 30px)"></div>
        <span>50% [Just Off]</span>
      </div>
    </div>
    <p>
      Many consider Lioden to be one of the more time-intensive and complex VPS. The artwork feels interesting, and
      customization to me even slightly outshines FlightRising with its very raw and thematical imagery. However, events
      do not hold back on their grind, the community is rather difficult to delve into and many concepts feel strange
      and lack reflexivity. Despite its focus on realism, the game didn't have to establish the weird interactions with
      lionesses or its odd relation to inbreeding. There is something very weird going on with that site, and it's hard
      to really wrap my head around it.
    </p>
  </article>

  <article>
    <h3>Moderneopets</h3>
    <a target="__blank" href="https://www.moderneopets.com/">Visit Moderneopets</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer uncertain" style="margin-left: calc(70% - 30px)"></div>
        <span>70% [Slumbering Work of Love]</span>
      </div>
    </div>
    <p>
      This one is a bit of an odd one. I have been deeply in love with the site since it was my introduction to Neopets
      as a whole. With its focus on creative freedom and lack of difficult grind I enjoyed sharing my creations with a
      welcoming community. The artwork outshines all Neopets clones to me with its detail and cohesion. However, the
      team is rather small and administration reliant on one person who also is responsible for all of the coding.
      Events are rather dull and after one ugly fall-out, the site has been in a state of hibernation. I still believe
      in the site's future; as to me, it feels like home.
    </p>
  </article>

  <article>
    <h3>The Final Outpost</h3>
    <a target="__blank" href="https://finaloutpost.net">Visit TFO</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(80% - 30px)"></div>
        <span>80% [Simple and to the Point]</span>
      </div>
    </div>
    <p>
      While the overall interface looks rather hacky and dated, I always end up clicking my way through the site from
      time to time. The art and story on the site is remarkable. Where the creatures look masterfully sprited, the tone
      of the story lets you sink into the life of a researcher on a planet long abandoned, and it fits so perfectly into
      this small and dedicated community! I do hope for the future recoded website to offer even more oportunities to
      refine this little gem.
    </p>
  </article>

  <article>
    <h3>Grundo's Café</h3>
    <a target="__blank" href="https://www.grundos.cafe/">Visit GC</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(60% - 30px)"></div>
        <span>60% [Hard to Love]</span>
      </div>
    </div>
    <p>
      This game has amassed a great following as one of the most content-rich and active Neopets clone. It features a
      strong set of games with varying events, fun colors and very frequent updates. It thrives on its competetive
      market and getting your dream pet is usually quite the challenge. I think it's fun and has so many tasks you can
      go for each and every day, yet I can't help but notice how much time it can eat up, and how difficult the
      community is for me to get into. The competetive aspect is rather daunting to me and makes me wish I had some
      friends to have started out with. The game can turn into a click-fest, and I personally dislike the customization
      of every pet. To some extent, it's less rewarding than the original Neopets.
    </p>
  </article>

  <article>
    <h3>Pokéfarm Q</h3>
    <a target="__blank" href="https://pokefarm.com/">Visit GC</a>
    <div alt="Gradient for recommendation scale (wine red to turquoise)" class="rating">
      <div class="scale">
        <div class="pointer" style="margin-left: calc(40% - 30px)"></div>
        <span>40% [Addictive, terrible leadership]</span>
      </div>
    </div>
    <p>
      I won't get into detail about the problems this game's development/leadership has. They ought to figure that out on their own, as this game prides itself on being child-friendly. What irks me most is their terribly monetization that is based on opaque calculations, fear of missing out, and subscription models that sell you the fix to designed problems. The quality of releases and all the intricacies you are free to explore are major, though, and I would do them a disservice if I ignored any of it. If you would love to just breed up a fun little team, or collect whatever makes you happy, you will have a blast. Remain mindful, however, of the dark patterns littered across the site.
    </p>
  </article>
</section>