---
title: "Pets"
intro: "As you enter the living area of the former staff, you notice a variety of food container lying around on the cold and dusty floor. Not only does it look far from edible, but you get the suspicion that something must have living here this whole time. Considerably large paw prints cover the dirty tiles, and you wouldn't call Vyndfleisch in particular suited for human consumption. Your heart begins to race with your steps becoming more hesitant until you hear a distant grumbling. Maybe you should turn around, or maybe a new friend is right behind that corner."
layout: base.njk
permalink: "pets/"
---

<p class="summary">
  This here is just a place for me to showcase all those funny critters I collected throughout my journey. Backgrounds by the wonderful <a href="https://swiftyshq.neocities.org/random/freetile/">Forest</a>.
</p>
<section>
  <h2>Delta Incubator <a target="__blank" href="https://pokefarm.com/user/Lyonid">{
                  Pokéfarm Q }</a></h2>
  <div class="incubation-cell pfq">
          <a href="https://pfq.link/?3z6Fq"><img src="https://pfq.link/?3z6Fq=platform.png" /></a>
          <a href="https://pfq.link/?343P5"><img src="https://pfq.link/?343P5=platform.png" /></a>
          <a href="https://pfq.link/?35wvq"><img src="https://pfq.link/?35wvq=platform.png" /></a>
          <a href="https://pfq.link/?3zLZT"><img src="https://pfq.link/?3zLZT=platform.png" /></a>
          <a href="https://pfq.link/?3nmhc"><img src="https://pfq.link/?3nmhc=platform.png" /></a>
          <a href="https://pfq.link/?3TG33"><img src="https://pfq.link/?3TG33=platform.png" /></a>
  </div>
</section>
<section>
  <h2>Vital Chambers <a target="__blank" href="https://finaloutpost.net/">{ The Final
                  Outpost }</a></h2>
  <div class="incubation-cell fto">
          <a target="__blank" href='https://finaloutpost.net/view/wvC6N'><img
                          src='https://finaloutpost.net/s/wvC6N3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/C4XSe'><img
                          src='https://finaloutpost.net/s/C4XSe3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/UCdma'><img
                          src='https://finaloutpost.net/s/UCdma3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/pQKfE'><img
                          src='https://finaloutpost.net/s/pQKfE3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/WRcem'><img
                          src='https://finaloutpost.net/s/WRcem3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/x2ILi'><img
                          src='https://finaloutpost.net/s/x2ILi3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/GG3bU'><img
                          src='https://finaloutpost.net/s/GG3bU3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/omO6V'><img
                          src='https://finaloutpost.net/s/omO6V3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/sC87Y'><img
                          src='https://finaloutpost.net/s/sC87Y3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/ApvYH'><img
                          src='https://finaloutpost.net/s/ApvYH3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/c3MwO'><img
                          src='https://finaloutpost.net/s/c3MwO3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/SRUhT'><img
                          src='https://finaloutpost.net/s/SRUhT3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/b2vmn'><img
                          src='https://finaloutpost.net/s/b2vmn3.png'></a>
          <a target="__blank" href='https://finaloutpost.net/view/IXlEw'><img
                          src='https://finaloutpost.net/s/IXlEw3.png'></a>
  </div>
</section>
<section>
  <h2>Paintings of Dragons <a target="__blank" href="https://dragcave.net/">{ Dragon Cave
                  }</a></h2>
  <div class="incubation-cell dragcave">
          <a href="https://dragcave.net/view/TzbT2"><img src="https://dragcave.net/image/TzbT2.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/brAKL"><img src="https://dragcave.net/image/brAKL.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/bog1B"><img src="https://dragcave.net/image/bog1B.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/7ewNh"><img src="https://dragcave.net/image/7ewNh.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/AGDpr"><img src="https://dragcave.net/image/AGDpr.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/Orp2g"><img src="https://dragcave.net/image/Orp2g.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/CIbib"><img src="https://dragcave.net/image/CIbib.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/PWqQ0"><img src="https://dragcave.net/image/PWqQ0.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/7bMLX"><img src="https://dragcave.net/image/7bMLX.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/0hOPf"><img src="https://dragcave.net/image/0hOPf.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/Bsu1X"><img src="https://dragcave.net/image/Bsu1X.gif"
                          alt="Adopt one today!" /></a>
          <a href="https://dragcave.net/view/hXlEy"><img src="https://dragcave.net/image/hXlEy.gif"
                          alt="Adopt one today!" /></a>
  </div>
</section>
<section>
  <h2>Herbarium <a target="__blank" href="https://flowergame.net">{ Flowergame }</a></h2>
  <div class="incubation-cell flowergame">
          <a href="https://flowergame.net/view/1109983"><img src="https://img.flowergame.net/1109983.png"
                          alt="Besuche meinen Alpenveilchen in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1110839"><img src="https://img.flowergame.net/1110839.png"
                          alt="Besuche meinen Kalifornischer Mohn in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1110577"><img src="https://img.flowergame.net/1110577.png"
                          alt="Besuche meinen Walderdbeere in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1110789"><img src="https://img.flowergame.net/1110789.png"
                          alt="Besuche meinen Cocktailtomate in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1111025"><img src="https://img.flowergame.net/1111025.png"
                          alt="Besuche meinen Sibirischer Blaustern in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1111580"><img src="https://img.flowergame.net/1111580.png"
                          alt="Besuche meinen Weihnachtsstern in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1110957"><img src="https://img.flowergame.net/1110957.png"
                          alt="Besuche meinen Violetter Rötelritterling in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1111441"><img src="https://img.flowergame.net/1111441.png"
                          alt="Besuche meinen Kornblume in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1112593"><img src="https://img.flowergame.net/1112593.png"
                          alt="Besuche meinen Flammenblume in Flowergame!" /></a>
          <a href="https://flowergame.net/view/1110812"><img src="https://img.flowergame.net/1110812.png"
                          alt="Besuche meinen Sauerampfer in Flowergame!" /></a>
  </div>
</section>
<section>
  <h2>Notama Hatchery <a target="__blank" href="http://tamanotchi.world">{ Tamanotchi
                  World }</a></h2>
  <p>
          <a href="http://tamanotchi.world/4248c"><img src="http://tamanotchi.world/i2/4248"
                          alt="It's tamaNOTchi! Click to feed!"></a>
  </p>
  <h2>Gifypet <a target="__blank" href="https://gifypet.neocities.org/">{ Gifypet }</a>
  </h2>
  <p>
          <iframe width="314" height="321" scrolling="no"
                  src="https://gifypet.neocities.org/pet/pet.html?name=Gandalf&dob=1680082735&gender=undefined&element=Air&pet=https%3A%2F%2Fi3.lensdump.com%2Fi%2FTDDzn0.png&map=https%3A%2F%2Fi.lensdump.com%2Fi%2FTDDH8F.png&background=https://i2.lensdump.com/i/TDazRm.jpeg&tablecolor=white&textcolor=white"
                  frameborder="0"></iframe>
  </p>
</section>