---
title: "Qeycard"
intro: "You have been running circles in the search for a key card that would let you in the cafeteria. Awfully hungry, have you been turning the whole place topsy-turvy right before you stumble across a monitor that you believed to be broken. At a closer look, you find yourself browsing through the worker's database that is filled with information that may be vital for your hunger to be stilled."
layout: base.njk
permalink: "qeycard/"
---
<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="After a long hike across those mountains that your village deemed forsaken, you arrive at quite the unusual sight. Traces of a long-forgotten facility would leave you questioning whether things could have been different - intact.">
    <meta name="keywords" content="Laboratory, Neocities, Web Revival, Personal Homepage">
    <meta name="author" content="Lyonid">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Quaint Laboratorium: Lab IDs</title>
  <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="https://unartur.neocities.org" />
  <meta property="og:url" content="https://unartur.neocities.org/id" />
  <meta property="og:title" content="A Quaint Laboratorium: Qeycard Maker" />
  <meta property="og:description"
    content="You have been running circles in the search for a key card that would let you in the cafeteria. Awfully hungry, have you been turning the whole place topsy-turvy right before you stumble across a monitor that you believed to be broken. At a closer look, you find yourself browsing through the worker's database that is filled with information that may be vital for your hunger to be stilled." />
  <meta property="og:image" content="https://unartur.neocities.org/id-sample.png" />
  <script src="/components/main.js"></script>
  <script>
    var c = null;
    var ctx = null;
    const assets = {
      background: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "amethyst",
          flavour: "Sturdy"
        },
        {
          name: "aspique",
          flavour: "Silly"
        },
        {
          name: "desert",
          flavour: "Leaking"
        },
        {
          name: "dreams",
          flavour: "Dreamy"
        },
        {
          name: "drive",
          flavour: "Flashy"
        },
        {
          name: "evening",
          flavour: "Calm"
        },
        {
          name: "fire",
          flavour: "Angry"
        },
        {
          name: "gummiburg",
          flavour: "Tall"
        },
        {
          name: "lab",
          flavour: "Busy"
        },
        {
          name: "league",
          flavour: "Fit"
        },
        {
          name: "plains",
          flavour: "Calm"
        },
        {
          name: "space",
          flavour: "Clever"
        },
        {
          name: "spots",
          flavour: "Clumsy"
        },
        {
          name: "woods",
          flavour: "Lost"
        },
        {
          name: "wynter",
          flavour: "Strong"
        },
        {
          name: "broccoloxy",
          flavour: "Flimsy"
        },
        {
          name: "cases",
          flavour: "Stonecold"
        },
        {
          name: "cave",
          flavour: "Hot"
        },
        {
          name: "curious",
          flavour: "Empty"
        },
        {
          name: "greengoo",
          flavour: "Gritty"
        }
      ],
      skin: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "human1",
          flavour: "with dreams and hopes"
        },
        {
          name: "human2",
          flavour: "with dreams and hopes"
        },
        {
          name: "human3",
          flavour: "with dreams and hopes"
        },
        {
          name: "human4",
          flavour: "with dreams and hopes"
        },
        {
          name: "human5",
          flavour: "with dreams and hopes"
        },
        {
          name: "human6",
          flavour: "with dreams and hopes"
        },
        {
          name: "human7",
          flavour: "with dreams and hopes"
        },
        {
          name: "human8",
          flavour: "with dreams and hopes"
        },
        {
          name: "human9",
          flavour: "with dreams and hopes"
        },
        {
          name: "human10",
          flavour: "with dreams and hopes"
        },
        {
          name: "human11",
          flavour: "with dreams and hopes"
        },
        {
          name: "human12",
          flavour: "with dreams and hopes"
        },
        {
          name: "human13",
          flavour: "with dreams and hopes"
        },
        {
          name: "human14",
          flavour: "with dreams and hopes"
        },
        {
          name: "aspeyx",
          flavour: "from a planet unknown"
        },
        {
          name: "castrum",
          flavour: "of strong hands"
        },
        {
          name: "confis",
          flavour: "under thick coats of sugar"
        },
        {
          name: "debinare",
          flavour: "between rifts"
        },
        {
          name: "dyiones",
          flavour: "beneath flesh"
        },
        {
          name: "elatine",
          flavour: "on wobbling heights"
        },
        {
          name: "erden",
          flavour: "underground"
        },
        {
          name: "goliath",
          flavour: "in ruined state"
        },
        {
          name: "gundr",
          flavour: "within themselves"
        },
        {
          name: "krimsen",
          flavour: "out of leaking mountains"
        },
        {
          name: "marshmel",
          flavour: "in soft embrace"
        },
        {
          name: "solare",
          flavour: "in confinement"
        },
        {
          name: "wynter",
          flavour: "behind storming blizzards"
        },
        {
          name: "berrygum",
          flavour: "from berries"
        },
        {
          name: "bubblegum",
          flavour: "from bubbles"
        },
        {
          name: "lemogum",
          flavour: "from lemonade"
        },
        {
          name: "cheese",
          flavour: "through strings and bones"
        },
        {
          name: "galaxis",
          flavour: "over the entire world"
        },
        {
          name: "networth",
          flavour: "inside the cyberspace"
        },
        {
          name: "split",
          flavour: "next to you"
        },
        {
          name: "tronnie",
          flavour: "between planes of existence"
        }
      ],
      base: [
        {
          name: "base",
          flavour: ""
        }
      ],
      mouth: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "bunny-boy",
          flavour: "rests"
        },
        {
          name: "cainhurst",
          flavour: "dwells"
        },
        {
          name: "creep",
          flavour: "creeps"
        },
        {
          name: "crunch",
          flavour: "munches"
        },
        {
          name: "formidable-grind",
          flavour: "crunches"
        },
        {
          name: "hmh",
          flavour: "sleeps"
        },
        {
          name: "hungry",
          flavour: "slithers"
        },
        {
          name: "pause",
          flavour: "dances"
        },
        {
          name: "point-three",
          flavour: "lurks"
        },
        {
          name: "rrrh",
          flavour: "walks"
        },
        {
          name: "sass",
          flavour: "observes"
        },
        {
          name: "smirky",
          flavour: "smirks"
        },
        {
          name: "wait-for-me",
          flavour: "crawls"
        },
        {
          name: "woah",
          flavour: "cries"
        },
        {
          name: "alien",
          flavour: "abducts"
        },
        {
          name: "blow",
          flavour: "blows"
        },
        {
          name: "broccoli",
          flavour: "crunches"
        },
        {
          name: "golden",
          flavour: "shines"
        },
        {
          name: "teeeeeth",
          flavour: "grids"
        },
        {
          name: "unimpressed",
          flavour: "sighs"
        },
        {
          name: "worm",
          flavour: "slithers"
        },
      ],
      eyes: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "blocute",
          flavour: "fortunately"
        },
        {
          name: "confused",
          flavour: "unwell"
        },
        {
          name: "cyclops",
          flavour: "carefully"
        },
        {
          name: "facet",
          flavour: "rapidly"
        },
        {
          name: "goggle",
          flavour: "angrily"
        },
        {
          name: "happy",
          flavour: "happily"
        },
        {
          name: "ksksks",
          flavour: "silently"
        },
        {
          name: "lizzard",
          flavour: "loudly"
        },
        {
          name: "shy",
          flavour: "mindfully"
        },
        {
          name: "sly",
          flavour: "mindlessly"
        },
        {
          name: "triple",
          flavour: "carelessly"
        },
        {
          name: "ugh",
          flavour: "doubtfully"
        },
        {
          name: "cloudeye",
          flavour: "ambiguously"
        },
        {
          name: "crying",
          flavour: "unfortunately"
        },
        {
          name: "curious",
          flavour: "curiously"
        },
        {
          name: "loose",
          flavour: "loosely"
        },
        {
          name: "rolleye",
          flavour: "clumsily"
        },
        {
          name: "sasgy",
          flavour: "arrogantly"
        },
        {
          name: "tripod",
          flavour: "vividly"
        },
        {
          name: "windmill",
          flavour: "forcefully"
        },
        {
          name: "xxx",
          flavour: "finally"
        },
      ],
      beard: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "boucheron",
          flavour: "Helios",
        },
        {
          name: "dad",
          flavour: "Apex",
        },
        {
          name: "dotty",
          flavour: "Sector",
        },
        {
          name: "fine-moustache",
          flavour: "Cortex",
        },
        {
          name: "i-swear-its-hip",
          flavour: "Eterna",
        },
        {
          name: "it-shapes-my-face",
          flavour: "Vortex",
        },
        {
          name: "it-will-grow-soon",
          flavour: "Nebula",
        },
        {
          name: "meow",
          flavour: "Lunare",
        },
        {
          name: "whoops",
          flavour: "Solarum",
        },
        {
          name: "wise",
          flavour: "Observatorium",
        },
        {
          name: "years",
          flavour: "Botanicum",
        },
        {
          name: "bed",
          flavour: "Yingete"
        },
        {
          name: "fade",
          flavour: "Jiun"
        },
        {
          name: "mushy",
          flavour: "Parasola"
        },
        {
          name: "rooted",
          flavour: "Hydrus"
        },
        {
          name: "turnip",
          flavour: "Elex"
        },
      ],
      hair: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "antenna",
          flavour: "Ashera"
        },
        {
          name: "buckle",
          flavour: "Omnivore"
        },
        {
          name: "comb",
          flavour: "Atalante"
        },
        {
          name: "coral",
          flavour: "Minty"
        },
        {
          name: "crown",
          flavour: "Lucerne"
        },
        {
          name: "evil",
          flavour: "Sinister"
        },
        {
          name: "fuzzy",
          flavour: "Morningstar"
        },
        {
          name: "gel",
          flavour: "Quastenflosser"
        },
        {
          name: "helmet",
          flavour: "Windy"
        },
        {
          name: "long",
          flavour: "Elster"
        },
        {
          name: "mess",
          flavour: "Dumpster"
        },
        {
          name: "scene",
          flavour: "Veil"
        },
        {
          name: "seamonster",
          flavour: "Monado"
        },
        {
          name: "snake",
          flavour: "Lizard"
        },
        {
          name: "spike",
          flavour: "Madame"
        },
        {
          name: "sun",
          flavour: "Accord"
        },
        {
          name: "tears",
          flavour: "Hypernicus"
        },
        {
          name: "tentacle",
          flavour: "Omega"
        },
        {
          name: "boxy",
          flavour: "Quader"
        },
        {
          name: "honoured",
          flavour: "Vita"
        },
        {
          name: "schwush",
          flavour: "Zygrum"
        },
        {
          name: "trying",
          flavour: "Fatalis"
        },
        {
          name: "cloudy",
          flavour: "Flump"
        },
        {
          name: "full",
          flavour: "Iota"
        },
        {
          name: "fullside",
          flavour: "Feline"
        },
        {
          name: "quiet",
          flavour: "Canine"
        },
        {
          name: "poodle",
          flavour: "Intra"
        },
        {
          name: "scrunch",
          flavour: "Porta"
        }
      ],
      clothes: [
        {
          name: "null",
          flavour: ""
        },
        {
          name: "coat",
          flavour: "Gamma"
        },
        {
          name: "hunk",
          flavour: "South"
        },
        {
          name: "leather",
          flavour: "Tetra"
        },
        {
          name: "mumu",
          flavour: "Alpha"
        },
        {
          name: "sweater",
          flavour: "Delta"
        },
        {
          name: "zip",
          flavour: "Minor"
        },
        {
          name: "apron",
          flavour: "Major"
        },
        {
          name: "bubbles",
          flavour: "Epsilon"
        },
        {
          name: "foil",
          flavour: "My"
        },
        {
          name: "pot",
          flavour: "Iota"
        },
        {
          name: "steel",
          flavour: "My"
        },
        {
          name: "stump",
          flavour: "Xi"
        },
        {
          name: "toilet",
          flavour: "Pi"
        }
      ],
      accessory: [
        {
          name: "null",
          flavour: "",
        },
        {
          name: "geckopride",
          flavour: "",
        },
        {
          name: "geckotrans",
          flavour: "",
        },
        {
          name: "geckonb",
          flavour: "",
        },
        {
          name: "geckoace",
          flavour: "",
        },
        {
          name: "geckoaro",
          flavour: "",
        },
        {
          name: "geckobi",
          flavour: "",
        },
        {
          name: "geckopan",
          flavour: "",
        },
        {
          name: "geckomlm",
          flavour: "",
        },
        {
          name: "geckolesbian",
          flavour: "",
        },
        {
          name: "geckopoly",
          flavour: "",
        },
        {
          name: "geckodisability",
          flavour: "",
        },
        {
          name: "geckointer",
          flavour: "",
        },
        {
          name: "geckogenderfluid",
          flavour: "",
        },
        {
          name: "geckogandalf",
          flavour: "",
        },
      ]
    }

    var currentSelection = {
      background: null,
      skin: null,
      base: "base",
      mouth: null,
      eyes: null,
      beard: null,
      hair: null,
      clothes: null,
      accessory: null,
    };

    var currentName = {
      background: null,
      skin: null,
      base: "base",
      mouth: null,
      eyes: null,
      beard: null,
      hair: null,
      clothes: null,
      accessory: null,
    }

    function redraw() {
      ctx.clearRect(0, 0, 500, 500);
      for (const entry of Object.entries(currentSelection)) {
        var property = document.getElementById(entry[0] + "-" + entry[1]);
        var image = new Image();
        image.src = '/images/qeycard/' +entry[0] + '/' + entry[1] + '.png';
        ctx.drawImage(image, 0, 0, 500, 500 * image.height / image.width);
      }
    }

    function randomize() {
      options = [];
      options.push(document.getElementsByClassName('background-option'));
      options.push(document.getElementsByClassName('skin-option'));
      options.push(document.getElementsByClassName('mouth-option'));
      options.push(document.getElementsByClassName('eyes-option'));
      options.push(document.getElementsByClassName('beard-option'));
      options.push(document.getElementsByClassName('hair-option'));
      options.push(document.getElementsByClassName('clothes-option'));
      options.push(document.getElementsByClassName('accessory-option'));
      for (const i in options) {
        options[i][Math.floor(Math.random() * options[i].length)].click();

      }
      redraw();
    }

    function loadAssets() {
      for (const entry of Object.entries(assets)) {
        var category = entry[0];
        var options = entry[1]
        for (const value of Object.values(options)) {
          var label = document.createElement('label');
          var option = document.createElement('input');
          var selected = null;
          option.setAttribute("type", "radio")
          option.id = category + '-' + value.name;
          label.style.backgroundImage = 'url(/images/qeycard/' + category + '/' + value.name + '.png)';
          label.setAttribute("for", category + '-' + value.name);
          label.setAttribute("alt", value.name)
          label.setAttribute("title", value.name)
          option.id = category + '-' + value.name;
          option.value = value.name;
          option.name = category;
          option.className = category + '-option';
          label.appendChild(option);
          option.addEventListener('change', function () {
            currentSelection[this.name] = this.value;
            currentName[this.name] = this.flavour;
            redraw();
          });
          document.getElementById(category).appendChild(label);
        }

      }
    }

    function save() {

      var link = document.createElement('a');
      link.download = 'qeycard.png';
      link.href = c.toDataURL('image/png')
      link.click();
    }

    window.onload = function () {
      loadAssets();
      c = document.getElementById("canvas");
      ctx = c.getContext("2d");
      const randomizeButton = document.getElementById("randomize");
      randomizeButton.addEventListener('click', function () {
        randomize();
      });
      redraw();
    }
  </script>
  <section>
      <div class="maker">
          <p><strong>Qeycard Maker v1.1</strong> Click together your own lab portrait. Right-click / Hold down the final
            picture and save it for whatever purpose you like. No credits needed.</p>
          <canvas id="canvas" width="500" height="500" style="border:1px solid #d3d3d3;"></canvas>
          <div class="editor">
            <input type="radio" id="category-background" name="category-nav" value="background">
            <input type="radio" id="category-skin" name="category-nav" value="skin">
            <input type="radio" id="category-mouth" name="category-nav" value="mouth">
            <input type="radio" id="category-eyes" name="category-nav" value="eyes">
            <input type="radio" id="category-beard" name="category-nav" value="beard">
            <input type="radio" id="category-hair" name="category-nav" value="hair">
            <input type="radio" id="category-clothes" name="category-nav" value="clothes">
            <input type="radio" id="category-accessory" name="category-nav" value="accessory">
            <button id="randomize">✨</button>
            <label for="category-background">Background</label>
            <label for="category-skin">Skin</label>
            <label for="category-mouth">Mouth</label>
            <label for="category-eyes">Eyes</label>
            <label for="category-beard">Beard</label>
            <label for="category-hair">Hair</label>
            <label for="category-clothes">Clothes</label>
            <label for="category-accessory">Accessory</label>
            <button onClick="save()">💾</button>
            <div class="category" id="background"></div>
            <div class="category" id="skin"></div>
            <div class="category" id="base"></div>
            <div class="category" id="mouth"></div>
            <div class="category" id="eyes"></div>
            <div class="category" id="beard"></div>
            <div class="category" id="hair"></div>
            <div class="category" id="clothes"></div>
            <div class="category" id="accessory"></div>
  
          </div>
        </div>
      <div class="changelog">
        <p><strong>v1.2 PRISM Update</strong> Added 12 natural, 6 hair styles, and little Gecko accessories! 🌈 </p>
        <p><strong>v1.1 The Broccoli Update</strong> Added 5 Backgrounds, 5 Beards, 7 Clothes, 9 Eyes, 4 Hair styles, 7
          mouths and 9 skins. And it's a little ... planty! 🥦 Also made the page a little more pretty.</p>
      </div>
      </section>