---
title: "Archive"
layout: base.njk
permalink: "archive/"
---
<section class="feed">
  <h2>Writing Archive</h2>
  {% for post in collections.post %}
  <a class="post" href="{{post.url}}">
    <div class="post-info">
      <h3>{{ post.data.posttitle }}</h3>
      <p>{{ post.data.excerpt }}</p>
      <p>
        {% for category in post.data.categories %}<span class="category">{{ category }}</span>{% endfor %}
      </p>
    </div>
  </a>
  {% endfor %}
</section>