---
title: 'Server'
layout: blank.njk
permalink: "server/"
---

<link href="/css/server.css" rel="stylesheet" type="text/css" media="all">

<main class="server-index">
        <h1>oddities.server</h1>
        <a href="/home">logout</a>
<pre> ▒█████  ▓█████▄ ▓█████▄  ██▓▄▄▄█████▓ ██▓▓█████   ██████ 
▒██▒  ██▒▒██▀ ██▌▒██▀ ██▌▓██▒▓  ██▒ ▓▒▓██▒▓█   ▀ ▒██    ▒ 
▒██░  ██▒░██   █▌░██   █▌▒██▒▒ ▓██░ ▒░▒██▒▒███   ░ ▓██▄   
▒██   ██░░▓█▄   ▌░▓█▄   ▌░██░░ ▓██▓ ░ ░██░▒▓█  ▄   ▒   ██▒
░ ████▓▒░░▒████▓ ░▒████▓ ░██░  ▒██▒ ░ ░██░░▒████▒▒██████▒▒
░ ▒░▒░▒░  ▒▒▓  ▒  ▒▒▓  ▒ ░▓    ▒ ░░   ░▓  ░░ ▒░ ░▒ ▒▓▒ ▒ ░
  ░ ▒ ▒░  ░ ▒  ▒  ░ ▒  ▒  ▒ ░    ░     ▒ ░ ░ ░  ░░ ░▒  ░ ░
░ ░ ░ ▒   ░ ░  ░  ░ ░  ░  ▒ ░  ░       ▒ ░   ░   ░  ░  ░  
    ░ ░     ░       ░     ░            ░     ░  ░      ░  
          ░       ░                                       </pre>
        <section class="server-audio">
            <audio controls loop>
                <source src="/sounds/server.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </section>
        <ul class="server-list">
            <li class="server-item">
                <a href="/server/fear-and-hunger/">
                    [shrine] Fear and Hunger
                </a>
            </li>
            <li class="server-item">
                <a href="/server/skylanders/">
                    [figures] Skylanders Collection
                </a>
            </li>
        </ul>
</main>
