---
title: 'Storage Units'
layout: base.njk
permalink: "storage/"
---
<section>
  <h2>{{ title }}</h2>
  <p>This is where I share stuff that you can just ... take lol.</p>
</section>
{% for section in resources.sections %}
<section class="resources">
  <h2 id="{{ section.id }}">{{ section.title }}</h2>
  {% if section.description %}
    <p>{{ section.description }}</p>
  {% endif %}
  {% if section.link %}
    <p><a href="/images/pages/storage/{{ section.link.url }}">{{ section.link.text }}</a></p>
  {% endif %}
  <div class="media-images">
    {% for image in section.images %}
      <img src="/images/pages/storage/{{ image }}" alt="{{ section.title }} image">
    {% endfor %}
  </div>
</section>
{% endfor %}