@font-face {
  font-family: 'Critters';
  src: url(/src/critters.woff);
}

* {
  box-sizing: border-box; 
}

body  {
   background: url(https://wind.blasius.club/assets/kap.png), url(https://wind.blasius.club/assets/stars.gif);
  background-attachment: fixed, scroll;
  background-size: cover, auto;
  background-position: 60% 50%;
  animation: bg 5s linear infinite;
}

@keyframes bg {
  0% { background-position: 60% 50%; }
  50% { background-position: 60% 51%; }
  100% { background-position: 60% 50%; }
}

header {
  font-family: 'Critters', 'Consolas';
  display: block;
  padding: 20px;
  font-size: 3em;
  color: white;
  filter: drop-shadow(0 0 5px black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  pointer-events: none;
}

main.bookmark-category-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: calc(3em + 100px);
  width: 100%;
  height: 400px;
  gap: 20px;
  padding: 0 50px;
}

main.bookmark-category-list:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
}

main.bookmark-category-list > section.bookmark-category {
  flex: 0 0 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #232323;
  border-radius: 25px;
  padding: 5px;
  gap: 5px;
  transition: .2s;
  box-shadow:  0 0 20px 20px rgba(0, 0, 0, .3);
}

main.bookmark-category-list > section.bookmark-category.message {
  background: transparent;
  padding: 30px;
  font-size: 1.5em;
  color: white;
  font-family: 'Consolas';
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 5px black);
  box-shadow:  0 0 50px 50px rgba(255, 255, 255, .3);
  
}

main.bookmark-category-list > section.bookmark-category h1 {
  font-family: 'Critters', 'Consolas';
  font-size: 1.2em;
  color: white;
  pointer-events: none;
}

main.bookmark-category-list > section.bookmark-category img {
  max-height: 100px; 
}

main.bookmark-category-list > section.bookmark-category > a {
  display: block; 
  font-size: 1em;
  font-family: 'Critters';
  text-decoration: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  opacity: .8;
}



main.bookmark-category-list > section.bookmark-category > a:hover {
  opacity: 1; 
}

main.bookmark-category-list > section.bookmark-category > a:hover:before {
  content: '~ '; 
}

main.bookmark-category-list > section.bookmark-category > a:hover:after {
  content: ' ~' 
}

aside {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

aside form {
  width: 100%;
  height: 100%;
}

aside form input {
    margin: 0 auto;
  display: block;
  font-family: 'Consolas';
  outline: none;
  border: 0;
  font-size: 2em;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #ffffff47;
  background: transparent;
  color: white;
  max-width: 700px;
  width: 90%;
  filter: drop-shadow(0 0 5px black);
}