---
permalink: "feed-artwork.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/xml-style.xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>A Quaint Lab - Artwork</title>
    <description>Recent artwork and illustrations from the Atelier.</description>
    <link>https://unartur.neocities.org/atelier/</link>
    <atom:link href="https://unartur.neocities.org/feed-artwork.xml" rel="self" type="application/rss+xml" />
    <lastBuildDate>{{ collections.artwork | first | dateToRfc822 if collections.artwork | length > 0 else "" }}</lastBuildDate>
    {% for post in collections.artwork %}
    <item>
      <title>{{ post.data.posttitle or post.data.title }}</title>
      <link>https://unartur.neocities.org{{ post.url }}</link>
      <description>{{ post.data.comment or post.data.excerpt }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>https://unartur.neocities.org{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>
