---
title: 'A Quaint Laboratorium'
layout: splash.njk
permalink: "/"
---
<p class="splash-text">Hey! This site features minor JavaScript for fluff (graphical tools, randomization) and convenience (for lazy me). The site features bright colors, and minor animations. You can use it on a mobile phone, but do let me know when something's wrong.</p>
<p>Send me a mail if something's off.</p>
<p> <a href="mailto:lyonid@protonmail.com">lyonid [at] protonmail [dot] com</a></p>
<a class="splash-link" href="/home">
<img src="/images/enter.gif">Enter</a>